

#input{
    border: none;
    display:flex;
    justify-content: center;
    align-items: center;
}
#submit{
    padding: 5px;
    color: white;
    background-color: cadetblue;
    border: none;
    margin-left: 10px;
}
#display{
    margin-top: 35px;
    background-color:  cadetblue;
    color: black;
    border-radius: 20px;
    display:flex;
    align-items: center;
}
ul{
    padding: 10px;
    width: 100%;
    display:flex;
    justify-content: space-between;
    margin: 10px;
} 
li{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
span{
    font-size: 40px;
}
